@import "sharedStyles";
$fieldsFz: 15px;
.note-item{
  @include tableItemCS;
  margin-top: 5px;
  .field-box{
    flex: 1 1 20%;
  }
  &__fields-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__category-icon-box{
    i{
      position: absolute;
      top: 50%;
      left: 15px;
      margin-top: -14px;
      font-size: 28px;
    }
   flex: 0 0 0;
  }
  &__text-box{
    font-size: $fieldsFz;
    padding: 5px 5px 5px 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    .note-item__text{
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include inputReset();
      border: 1px solid transparent;
      padding: 4px;
      cursor: default;
    }
  }
  &__text{
    display: block;
    font-family: inherit;
  }
  &__select{
    font-size: $fieldsFz;
    @include inputReset();
    border: 1px solid $borderColor;
    border-radius: 5px;
    padding: 4px;
    &:focus{
      outline: 2px solid $borderColor;
    }
  }
  &__controllers-box{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    i{
      margin-left: 10px;
      @include iconsCS(#569adf);
    }
  }
  &--removing{
    animation: removingNote .1s;
  }

}
@keyframes removingNote {
  33%{
    opacity: .7;
    height: 60px;
  }
  66%{
    opacity: .35;
    height: 30px;
  }
  100%{
    height: 0;
    opacity: 0;
  }
}
.stat-item{
  @include tableItemCS;
  .field-box{
    flex: 1 1 33%;
  }
}
.editable{
  box-shadow: 1px 1px 3px $tableHeaderBgColor;
  .note-item__text-box {
    input{
      border: 1px solid $borderColor !important;
      border-radius: 5px;
      cursor: text;
      &:focus{
        outline: 2px solid $borderColor;
      }
    }
  }
}