@import "sharedStyles";

.table-header{
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 10px 70px;
  background-color: $tableHeaderBgColor;
  font-family: sans-serif;
  &__title-box{
    width: 100%;
  }
  &__title{
    text-align: left;
    color: #fbfbfc;
    font-weight: 700;
  }
  &__controllers-box{
    display: flex;
    i{
      margin-left: 15px;
      @include iconsCS(#fbfbfc);
    }
  }
}