@import "sharedStyles";

.table-header{
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 10px 90px ;
  background-color: $tableHeaderBgColor;
  font-family: sans-serif;
  &__title-box{
    width: 100%;
    padding-left: 4px;
  }
  &__title{
    text-align: left;
    color: #fbfbfc;
    font-weight: 700;
  }
  &__controllers-box{
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -$iconsFz / 2 ;
    i{
      margin-left: 15px;
      @include iconsCS(#fbfbfc);
    }
  }
}